html, body {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #595858;
}

#main-container {
    max-height: 350px;
    display: grid;
    place-items: center;
}

#header-text {
    font-size: 20px;
    color: white;
}

#scores {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    gap: 50px;
}

.button-container {
    margin: auto;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn {
    font-size: 30px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.btn.rock {
    color: white;
    background-color: brown;
}

.btn.paper {
    background-color: #d8d6d6;
}

.btn.scissor {
    color: white;
    background-color: #2e4d63;
}

#result {
    font-size: 20px;
    color: white;
}
